@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------Колір---------------------------------------- */
/* ----------------------------------------Шрифт---------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.current {
  color: #2196f3;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------------------------Прихований контент---------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logo {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .page-header__logo--right {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo--right {
    margin-right: 93px;
  }
}

.logo-part {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    display: block;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__logo--bottom {
    margin-bottom: 20px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding: 6px 0;
  }
}

@media screen and (min-width: 320px) {
  .page-header .container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list__link:hover, .navigation-list__link:focus {
    color: #2196f3;
  }
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-list__item {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-list {
  list-style: none;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

/* ---------------------------Хедер іконки--------------------------- */
.contacts-list__envelope {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:focus .contacts-list__envelope, .contacts-list__link:hover .contacts-list__envelope {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts-list__envelope {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__envelope {
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}

.contacts-list__smartphone {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:focus .contacts-list__smartphone, .contacts-list__link:hover .contacts-list__smartphone {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts-list__smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__smartphone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.section-main__button {
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .section-main__button {
    padding: 10px 32px;
  }
}
.section-main__button:hover, .section-main__button:focus {
  background: #188ce8;
}

.section-filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  transition-property: background, color, box-shadow;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}
.section-filter__button:hover, .section-filter__button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  border-color: transparent;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188ce8;
}

.button-mobile {
  background-color: inherit;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.menu-container .button-mobile {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .button-mobile {
    display: none;
  }
}

.section-main.section {
  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-main.section {
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    height: 600px;
    background-color: #2f303a;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-image-hero.jpg);
    background-size: cover;
  }
}

.section-main__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: black;
}
@media screen and (min-width: 1200px) {
  .section-main__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-advantage.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .section-advantage__title {
    text-align: center;
  }
}

.section-advantage__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .section-advantage__list {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-advantage__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .section-advantage__list {
    display: flex;
    flex-direction: row;
  }
}

.section-advantage__item {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .section-advantage__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-advantage__item {
    width: calc((100% - 90px) / 4);
  }
}

.section-advantage__description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-advantage__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .section-advantage__icon-container {
    display: flex;
    flex-direction: row;
  }
}

.section-advantage__icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .section-samples {
    display: none;
  }
}

.section-samples__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-samples.section {
  padding-top: 0;
}

.section-samples__list {
  display: flex;
}

.section-samples__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.section-samples__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  list-style: none;
}
.section-samples__item:not(:last-child) {
  margin-right: 30px;
}

.section-team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .section-team.section {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .section-team__list {
    flex-wrap: wrap;
  }
}

.section-team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .section-team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-team__item--padding {
  padding-top: 30px;
  padding-bottom: 16px;
}

.section-team__item {
  padding-bottom: 24px;
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__item {
    width: calc((100% - 90px) / 4);
  }
  .section-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.social-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .container {
  position: relative;
  padding: 48px 40px;
  height: 100%;
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.mobile-navigation__item .mobile-navigation__link--active {
  color: #2196f3;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: #2196f3;
}

.mobile-contact {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.mobile-contact__link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mobile-contact__link-phone:hover, .mobile-contact__link-phone:focus {
  color: #2196f3;
}

.mobile-contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mobile-contact__link-mail:hover, .mobile-contact__link-mail:focus {
  color: #2196f3;
}

.mobile-social {
  gap: 10px;
  position: absolute;
  bottom: 48px;
  display: flex;
  list-style: none;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-social__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */