.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: 480px){
            font-size: 24px;
            line-height: 1.08;

    }

        @media screen and (min-width: 768px) {


        }

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;

        }
}

.page-header__logo {
    color: #000000;
}

.page-header__logo--right {
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }

}

.logo-part {
    color: $accentColor;
}

.page-footer__logo {

    @media screen and (min-width: 1200px) {
        display: block;
        color: #ffffff;
    }

}

.page-footer__logo--bottom {

    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
    }

}