@import '../utils/mixin';

.section-team {
  background-color: #f5f4fa;
}

.section-team.section {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.section-team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.section-team__member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $textColorSecondary;
}

.section-team__item--padding {
  padding-top: 30px;
  padding-bottom: 16px;
}

.section-team__item {
  padding-bottom: 24px;

  list-style: none;
  background: $backgroundColorMain;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  list-style: none;
}

.social-list__icon {
  fill: #afb1b8;

  @include transition(fill);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}
