.section-main.section {
  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;

  height: 400px;
  background-color: $backgroundColorSecondary;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/background-image-hero.jpg);
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/background-image-hero@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;

    max-width: 1600px;
    height: 600px;
  }
}

.section-main__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.16;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
